.nav-bar {
    top: 0;
    padding-top: 10px;
    background-color: #7371fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    & .other-links {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    & .home {
        margin-left: 30px;
    }

    & a {
        color: black;
    }

}