.form_wrapper {
    height: 100%;
    padding: 30px;
    & form {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        height: 50%;
        gap: 20px;
        & input {
            border-radius: 10px;
            border: 1px solid  transparent;
            outline: none;
            padding: 10px
        }

        & textarea {
            border-radius: 10px;
            resize: none;
            outline: none;
            border: 1px solid transparent;
            padding: 5px;
        }
    }

}