#root {
  line-height: 1.5;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #edebf1;
  /* overflow: hidden; */
  font-family: 'Jost', sans-serif;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
  height: 100%;
  background-color: #edebf1;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: black;
}
